Import pandas i wczytanie pierwszych 3 wierszy z csv, xls i xlsx

In [37]:
import pandas as pd
import requests

#CSV
print("\n----------CSV---------\n")
df0 = pd.read_csv('data/customers-100.csv')
print(df0.head(3))

#XLSX
print("\n----------XLSX---------\n")
df1 = pd.read_excel('data/file_example_XLSX_10.xlsx', engine='openpyxl')
print(df1.head(3))

#XLS
print("\n----------XLS---------\n")
df2 = pd.read_excel('data/file_example_XLS_10.xls', engine='xlrd')
print(df2.head(3))

----------CSV---------

   Index      Customer Id First Name Last Name          Company  \
0      1  DD37Cf93aecA6Dc     Sheryl    Baxter  Rasmussen Group
1      2  1Ef7b82A4CAAD10    Preston    Lozano      Vega-Gentry
2      3  6F94879bDAfE5a6        Roy     Berry    Murillo-Perry

                City              Country          Phone 1  \
0       East Leonard                Chile     229.077.5154
1  East Jimmychester             Djibouti       5153435776
2      Isabelborough  Antigua and Barbuda  +1-539-402-0259

               Phone 2                     Email Subscription Date  \
0     397.884.0519x718  zunigavanessa@smith.info        2020-08-24
1     686-620-1820x944           vmata@colon.com        2021-04-23
2  (496)978-3969x58947       beckycarr@hogan.com        2020-03-25

                      Website
0  http://www.stephenson.com/
1       http://www.hobbs.com/
2    http://www.lawrence.com/

----------XLSX---------

   0 First Name  Last Name  Gender        Country  Age        Date    Id
0  1      Dulce      Abril  Female  United States   32  15/10/2017  1562
1  2       Mara  Hashimoto  Female  Great Britain   25  16/08/2016  1582
2  3     Philip       Gent    Male         France   36  21/05/2015  2587

----------XLS---------

   0 First Name  Last Name  Gender        Country  Age        Date    Id
0  1      Dulce      Abril  Female  United States   32  15/10/2017  1562
1  2       Mara  Hashimoto  Female  Great Britain   25  16/08/2016  1582
2  3     Philip       Gent    Male         France   36  21/05/2015  2587

Request example

In [38]:
BASE_URL = "https://jsonplaceholder.typicode.com"

def get_user(user_id):
    response = requests.get(f"{BASE_URL}/users/{user_id}")
    if response.status_code == 200:
        print(f"Details of user {user_id}:")
        print(response.json())
    else:
        print(f"Failed to get user {user_id}: {response.status_code}")

get_user(1)

Details of user 1:
{'id': 1, 'name': 'Leanne Graham', 'username': 'Bret', 'email': 'Sincere@april.biz', 'address': {'street': 'Kulas Light', 'suite': 'Apt. 556', 'city': 'Gwenborough', 'zipcode': '92998-3874', 'geo': {'lat': '-37.3159', 'lng': '81.1496'}}, 'phone': '1-770-736-8031 x56442', 'website': 'hildegard.org', 'company': {'name': 'Romaguera-Crona', 'catchPhrase': 'Multi-layered client-server neural-net', 'bs': 'harness real-time e-markets'}}

Read table from Wikipedia

In [39]:
#URL
url = 'https://en.wikipedia.org/wiki/World_energy_supply_and_consumption'

#Load all tables from url
tables = pd.read_html(url)

#Show number of tables found
print(f"Found {len(tables)} tables.")

#Choose table
df3 = tables[0]
print(df3.head(3))

Found 21 tables.
      Unnamed: 0  Total (MToe) Coal Oil & Gas Renewable Nuclear
0          China          2950  71%       13%       10%      6%
1  United States          2210  13%       69%        8%     10%
2         Russia          1516  16%       78%        2%      4%

Write to CSV files

In [40]:
#Define tables
dataframes = [df0, df1, df2, df3]
filenames = ['df0.csv', 'df1.csv', 'df2.csv', 'df3.csv']

#Write each file
for df, filename in zip(dataframes, filenames):
    df.to_csv(f"data/output/{filename}", index=False)
    print(f'Zapisano {filename}')

Zapisano df0.csv
Zapisano df1.csv
Zapisano df2.csv
Zapisano df3.csv